.btn {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  background-color: #689F38;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  padding: 10px 30px;
  border: 1px solid #689F38;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn:hover,
.btn:active {
  background-color: #8BC34A;
  border: 1px solid #8BC34A;
}

.btn:disabled {
  background-color: #757575;
  border: 1px solid #757575;
  cursor: not-allowed;
}