.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; 
}

.innerCard {
  border-radius: 5px;
  border: 2px solid #8BC34A;
  width: 90%;
  height:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #333;
}

.textBlock {
  margin: 20px;
}

.textBlock > * {
  margin-bottom: 10px;
}

.img {
  height: auto;
  width: 90%;
}