@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

  height: 50px;
  padding: 36px 24px;

  background: $medium-gray;

  @media screen and (max-width: $breakpoint4) {
    padding: 36px 0;
  }
}

.dark {
  background: $dark;
}

.menu {
  @include d-flex-standart;

  width: $width0;
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint1) {
    width: $width1;
  }

  @media screen and (max-width: $breakpoint2) {
    width: $width2;
  }

  @media screen and (max-width: $breakpoint3) {
    width: $width3;
  }

  @media screen and (max-width: $breakpoint4) {
    width: $width5;
    min-width: 320px;
  }
}
