.pokemon-details {

  &__title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 16px;

    h5 {
      color: #313131;
      font-family: "Flexo-Demi", arial, sans-serif;
      margin-right: 8px;
      font-size: 2.7rem;

    }
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__info {
    padding: 32px 32px 24px 32px;
    height: fit-content;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin-top: 32px;
    @media screen and (max-width: 768px) {
      padding: 16px;

    }

    &-col {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      text-align: left;

      div {
        width: 100%;
        margin-bottom: 8px;

        &:first-child {
          font-weight: 700;
          white-space: nowrap;
          @media screen and (max-width: 768px) {
            margin-right: 16px;
          }
        }
        &:last-child{
          @media screen and (max-width: 768px) {
            text-align: right;
          }
        }

      }
    }

    table {
      text-align: left;
      font-size: 1.2rem;
      margin-bottom: 32px;

      tr td:first-child {
        font-weight: bold;
      }

      tr td:first-child {
        padding-right: 16px;
      }
    }
  }

  &__number {
    color: #919191;
    font-family: "Flexo-Bold", arial, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.7rem;
  }

  &__btns {
    margin-top: 16px;
    display: flex;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}