@import "./variables.scss";

@mixin roboto-regular {
  font-weight: normal;
  font-family: Roboto-regular, sans-serif;
}

@mixin roboto-bold {
  font-weight: bold;
  font-family: Roboto-bold, sans-serif;
}

@mixin font-size($size, $height) {
  font-size: #{$size}px;
  line-height: #{$height}px;
}

@mixin small {
  @include font-size(12.8, 19.2);
}

@mixin bold {
  @include roboto-bold;
}

@mixin d-flex-standart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin pokemons-box {
  @include d-flex-standart;

  z-index: 1;

  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

@mixin switcher {
  .toggleBox {
    @include d-flex-standart;

    width: 270px;
    margin: 5px;
  }

  .point {
    width: 110px;

    text-align: center;
  }

  .switch {
    position: relative;

    display: inline-block;
    width: 50px;
    height: 26px;

    input {
      width: 0;
      height: 0;

      opacity: 0;
    }

    input:checked + span::before {
      transform: translateX(20px);
    }

    input:focus + span {
      border: 2px solid $dark;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: $medium-gray;

      border: 2px solid $medium-gray;
      border-radius: 26px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 1px;
        left: 3px;

        width: 20px;
        height: 20px;

        background-color: $light;
        border-radius: 50%;

        transition: 0.4s;

        content: "";
      }
    }
  }

  .dark {
    span {
      background-color: $light;

      border: 2px solid $light;

      &::before {
        background-color: $dark;
      }
    }
  }
}

@mixin toolbox-bar {
  width: 300px;
  margin: 10px;
  padding: 8px 40px 8px 16px;

  text-align: left;

  background-color: $light;

  border: 1px solid $medium-gray;

  border-radius: 15px;

  outline: none;

  appearance: none;

  &:focus {
    border: 1px solid $blue;
  }
}

@mixin button {
  width: 95%;
  max-width: 150px;
  padding: 8px;

  color: $light;
  text-align: center;

  background: $semi-dark;
  border: 1px solid $semi-dark;
  border-radius: 10px;

  &:hover {
    color: $dark;

    background-color: $light;
  }

  &[disabled] {
    color: $dis-col;

    background: $dis-back;
    cursor: default;
  }
}

@mixin login-box {
  width: 320px;
  margin: 0 auto;
  padding: 16px;

  text-align: center;

  border: 1px solid $medium-gray;
  border-radius: 10px;
}
