$colorScheme: (
	"background": #eceff1,
	"header": #455a64,
	"footer": #2c2f3c,
	"button": #e64a19,
  "error": #f44336,
	"text": #263238,
	"textSecondary": #fff,
);

$textFontFamily: 'Roboto', 'Arial', sans-serif;

$desktopWidth: 1200px;
$desktopFontSize: 17px;
$desktopLineHeight: 22px;

$mobileWidth: 420px;
$mobileFontSize: 14px;
$mobileLineHeight: 18px;
