@import "../../utils/variables.scss";

.nav-list {
  width: 90vw;
  max-width: 1530px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.nav-link {
  padding: 5px 10px;
  margin-left: 20px;
  transition: all .4s;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
  transition: transform .3s;

  &:active,
  &:hover {
    border-bottom: 2px solid $light;
  }

}

.active-nav-link {
  border-bottom: 2px solid $light;
}


.header {
  padding-top: 10px;
  height: 60px;
  background-color: $primary-orange;
  color: $light;
  font-size: 1.5rem;
  font-weight: 600;
}