.navList {
  display: flex;
  list-style: none;
}

.navLink {
  padding: 20px;
  transition: all .4s;
  text-transform: uppercase;
  text-decoration: none;
  color: currentColor;
}

.navLink:active,
.navLink:hover,
.navLink.activeNavLink {
  color:#212121;
  font-weight: bolder;
}

.header {
  height: 50px;
  background-color: #FF5722;
  color: #fff;
}