.pokemonList {
  padding: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.link:link,
.link:hover,
.link:active,
.link:visited {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}