.pokemonList {
  padding: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.link:link,
.link:hover,
.link:active,
.link:visited {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  background-color: #FF5722;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  padding: 10px 30px;
  border: 1px solid #FF5722;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn:hover,
.btn:active {
  background-color: #ff7144;
  border: 1px solid #ff7144;
}