.pokemonList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-gap: 20px;
  max-width: 1530px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.link:link,
.link:hover,
.link:active,
.link:visited {
  color: #212121; ;
  text-decoration: none;
}

.main {
  min-height: calc(100vh - 110px);
}

.text {
  font-size: 1.5rem;
  color: #212121;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
}