.pokemon-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.pokemon-wrapper {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  padding: 1em;
  background: #0d47a1;
}

.pokemon-id {
  font-weight: bold;
}

@media (min-width: 1025px) {
  .main-content {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card-wrapper {
    width: 40%;
  }
}
