.main {
    position: fixed;
    top: 0;  
    z-index: 100; 
    background: #000000;
    height: 90px;
    width: 100%;
}
.title {
    position: absolute;
    top: 35px;
    left: 140px;
    color: white;
    font-family: fantasy;
}
.icon {
    margin: 20px 20px;
    width: 100px;
    height: 60px;
    background-color: red;
}
.menu {
    position: fixed;
    right: 20px;
    top: 25px;
    display: flex;
    column-gap: 25px;
}
.item {
    background-color: #f7f7f7;
    border-radius: 20px;
    list-style-type: none;
    text-decoration: none;
    padding:5px;
}
.link {
    color: red;
    font-size: 22px;
    text-decoration-line: none;
    font-family: fantasy;
}
.link:hover {
    color:orange;
    text-decoration-line: none;
}

@media (max-width: 568px)  {
    .main {
        height: 40px;
    }
    .icon {
        display: none;
    }
    .title {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 18px;
    }
    .menu {
        gap: 10px;
        top: 7px;
    }
    .item {
        padding: 2px;
    }
    .link {
        font-size: 13px;
    }
    
}