.menu {
  color: rgb(68, 66, 61);
  background-color: #a3bae9;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  font-size: calc(10px + 2vmin);
  color: rgb(48, 66, 49);
  margin: 0;
}

.main-stuff {
  
  background-repeat: no-repeat;
  
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.main-stuff h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 60px;
  color: rgb(44, 51, 12);
}


.pokemon-card {
  width: 16rem;
  height: auto;
  margin: 20px;
}

.pokemon-name {
  color: black;
  text-decoration: none;
}

.pokemon-card a:hover  {
  color: black;
  text-decoration: none;
}

.card-body {
  background-color: whitesmoke;
}

.home-container {
  padding: 50px;
  background: url('./assets/wallpaper-hd.webp') fixed;
  background-size: cover;
  
  min-height: 100vh;
}

.free-btn {
  margin-left: 4rem;
}

.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

