* {
  box-sizing: border-box;
}

html,
body,
header, main,
img, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  color:teal
}