.btn {
  display: block;
  margin: 2vh auto;
  color: rgb(145, 35, 35);
  width: 100%;
  border: 0;
  font-size: 1.2em;
  background-color: #fcedb2;
  ;
}
.btn:hover {
  background-color: #ad005c;
  color: #fcedb2;
}
