@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.logo {
  @include font-size(24, 28);
  @include d-flex-standart;

  width: 150px;
  padding: 0 10px;

  img {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint4) {
    width: 100px;
  }
}
