@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.searchBox {
  position: relative;
}

.search {
  @include toolbox-bar;
}

.reset {
  position: absolute;
  top: 0;
  right: 10px;

  width: 30px;
  height: 37px;
  margin-top: 10px;
  padding: 0;

  background-image: url("/assets/images/icons/reset-light.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;

  border-radius: 0 15px 15px 0;
  outline: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:focus {
    border: 1px solid $blue;
  }
}

.dark {
  color: $light;

  background: $medium-gray;
  border: 1px solid $dark;
}

.darkReset {
  background-image: url("/assets/images/icons/reset-dark.png");
}
