@import "@scss/variables.scss";
@import "@scss/mixins.scss";

.toolsBox {
  @include d-flex-standart;

  justify-content: center;

  width: 100%;
  padding: 0 24px 24px;

  @media screen and (max-width: $breakpoint4) {
    flex-direction: column;
  }
}
